html, body {
    height:100%;
}

.fill {
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
}

.section {
    margin: 50px 0;
}

footer {
    margin: 50px 0;
}