.vttv-video-box {
    width:100%;
    margin-bottom:20px;
}

.intro-header {
    padding-top: 275px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 275px;
    text-align: center;
    background: url(../img/vttv-bars-logo-lower.png) no-repeat center center;
    background-size: cover;
    background-color: #000;
}

@media (max-width: 767px) {
    .intro-header {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}